$primary:           #78909c;
$primary-dark:      #4b636e;
$primary-light:     #a7c0cd;
$secondary:         #64dd17;
$secondary-dark:    #1faa00;
$secondary-light:   #9cff57;
$text-on-p:         #fff;
$text-on-s:         #fff;
$amber-list-color:  #fdd835;
$green-list-color:  #4caf50;
$red-list-color:    #f44336;


$theme-colors:(
"primary":           $primary,
"primary-dark":      $primary-dark,
"primary-light":     $primary-light,
"secondary":         $secondary,
"secondary-dark":    $secondary-dark,
"secondary-light":   $secondary-light,
"text-on-primary":   $text-on-p,
"text-on-secondary": $text-on-s,
"body-bg":           $primary-light,
"amber-list-color":  $amber-list-color,
"green-list-color":  $green-list-color,
"red-list-color":    $red-list-color,
)!default;


@import "~bootstrap/scss/bootstrap";
