# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/Web/node_modules
/Web//.pnp
/Web/.pnp.js

# API Keys
/Web/.env

# testing
/Web/coverage

# production
/Web/build

# misc
/Web/.DS_Store
/Web/.env.local
/Web/.env.development.local
/Web/.env.test.local
/Web/.env.production.local

/Web/npm-debug.log*
/Web/yarn-debug.log*
/Web/yarn-error.log*
