.toolbar {
    position: fixed;
    left: 0px;
    top: 0px;
    background-color: var(--primary-dark);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    height: 3rem;
    z-index: 100;
    box-sizing: border-box;
    cursor: pointer;
    transition: box-shadow 100ms;
}

.toolbar-shadow{
    box-shadow: 0px 1px 4px var(--primary-dark);
}

.logo{
    display: flex;
    padding: 0px;
    margin: 0px;
    height: 100%;
    box-sizing: border-box;
    text-align: center;
}

.logo p {
    margin: auto 5px;
    flex:1;
    font-weight: bold;
    font-size: 1.1rem;
    letter-spacing: -0.05em;
}

nav{
    margin: 0;
    height: 100%;
    flex-grow:1; 
}



