global:
  log-level: 'debug'

#Scraper configuration
scraper:
  service-name: 'UK.GOV-Scraper'
  url: "https://www.gov.uk/guidance/red-amber-and-green-list-rules-for-entering-england"
  html-selectors: 
    red: "#contents > div.gem-c-govspeak.govuk-govspeak > div > table:nth-of-type(1) > tbody > tr > th"
    amber: "#contents > div.gem-c-govspeak.govuk-govspeak > div > table:nth-of-type(2) > tbody > tr > th"
    green: "#contents > div.gem-c-govspeak.govuk-govspeak > div > table:nth-of-type(3) > tbody > tr > th"

#GitHub config
github: 
  repo:
    name: COVID-Travel-Restriction-Tracker
    owner: ancalabrese 
    base-branch: master
    db-file-path: DataBank.json
  committer-info:
    name: Gypsy19
    email: antoniobust@gmail.com 
    branch: master

#Microservice config 
server:
  name: 'travel-list'
  url: "localhost"
  port: "9091"
  api-base-path: "/api"
  cors-allowed-origins: "*"
  api-routes: ["/update"]
  idle-timeout: 120
  read-timeout: 1
  write-timeout: 1

twitter: 
  

