@import './Scss/custom_theme.scss';

html {
  font-size: 1rem;
}

body {
  background-color: var(--body-bg);
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.heading {
  color: var(--secondary) !important;
  font-weight: 800 !important;
}

.sub-heading {
  color: var(--secondary) !important;
  font-weight: 600 !important;
}

.primary-element {
  background-color: var(--primary) !important;
  color: var(--text---) !important;
}

.primary-dark-element {
  background-color: var(--primary-dark) !important;
  color: var(--text-on-primary) !important;
}

.primary-light-element {
  background-color: var(--primary-light) !important;
  color: var(--text-on-primary) !important;
}

.secondary-element {
  background-color: var(--secondary) !important;
  color: var(--text-on-secondary) !important;
}

.secondary-dark-element {
  background-color: var(--secondary-dark) !important;
  color: var(--text-on-secondary) !important;
}

.secondary-light-element {
  background-color: var(--secondary-light) !important;
  color: var(--text-on-s) !important;
}


@include media-breakpoint-up(sm) {
  html {
    font-size: 1.1rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 1.1rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1.1rem;
  }
}

@include media-breakpoint-up(xl) {
  html {
    font-size: 1.1rem;
  }
}
